@font-face {
  font-family: 'exo-light';
  src: url('fonts/exo-light-webfont.eot');
  src: url('fonts/exo-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/exo-light-webfont.woff2') format('woff2'),
  url('fonts/exo-light-webfont.woff') format('woff'),
  url('fonts/exo-light-webfont.ttf') format('truetype'),
  url('fonts/exo-light-webfont.svg#exolight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open-sans-light';
  src: url('fonts/open-sans-light-webfont.eot');
  src: url('fonts/open-sans-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/open-sans-light-webfont.woff') format('woff'),
  url('fonts/open-sans-light-webfont.ttf') format('truetype'),
  url('fonts/open-sans-light-webfont.svg#exolight') format('svg');
  font-weight: normal;
  font-style: normal;
}
