@import 'stylesheets/fonts';
@import 'stylesheets/mixins';
@import 'stylesheets/variables';

.App {
  @include w-h;
  @include flex-column-center;
}

.App--content--container {
  position: fixed;
  @include w-h;
  @include top-left;
  @include flex-column-center;
  opacity: 0;
  background-color: $blue-dark;
  z-index: 100;
  pointer-events: none;
  transition: all .6s ease-in-out;

  &.displayed {
    pointer-events: auto;
    opacity: .98;

    .App--content--project { opacity: 1; }
  }
}

.App--content--controls--container {
  position: absolute;
  @include top-right(20px);
  @include flex-row-center;
  color: $tonic;
  font-size: 22px;

  svg {
    margin-left: 12px;
    cursor: pointer;
  }
}

.App--content--project {
  @include w-h($projects-container-side);
  @include flex-column-bottom;
  font-family: open-sans-light, sans-serif;
  color: $tonic;
  user-select: none;
  opacity: 0;
  transition: all .6s ease-in-out;
  background-color: rgba($tonic, .05);
  border-radius: $projects-container-side;
  overflow: hidden;

  .App--content--project--title {
    font-size: 28px;
    margin: 0 0 24px;
    max-width: 50%;
    text-align: center;
  }

  .App--content--project--type {
    font-size: 14px;
    font-style: italic;
    margin: 0 0 2px;
  }

  .App--content--project--tools {
    font-size: 14px;
    margin: 0 0 24px;
  }

  .App--content--project--description {
    font-size: 14px;
    text-align: center;
    margin: 0 32px;
    max-width: 75%;
  }

  .App--content--project--image--container {
    width: 100%;
    height: 43%;
    @include flex-row-center;
    margin: 24px 0 0;
    overflow: hidden;
    align-self: flex-end;

    img {
      width: 100%;
    }
  }

  .App--content--project--link {
    color: $tonic;
    border: 1px solid $tonic;
    padding: 8px 16px;
    font: 14px open-sans-light, sans-serif;
    text-align: center;
    text-decoration: none;
    margin: 24px 0 0;
    transition: all .2s ease-in-out;

    &:hover {
      background-color: $tonic;
      color: $blue-dark;
    }
  }
}

.App--projects--container {
  position: relative;
  @include w-h($projects-container-side);
}

.App--background--shape {
  @include w-h(73%);
  margin: 13.5%;
  background-color: rgba(206, 255, 231, .4);
  transform: rotate(45deg);
  opacity: .5;
  pointer-events: none;
}

.App--center {
  position: absolute;
  @include top-left($position-second);
  @include w-h($project-side);
  background-color: $blue-dark;
  z-index: 10;
  transform: rotate(45deg);
  box-sizing: border-box;
  border: .7vh solid $tonic;
}

.App--title--container {
  @include w-h;
  @include flex-column-center;
  transform: rotate(-45deg);
  color: white;
  text-transform: uppercase;

  h1 {
    font: 1.8vh 'open-sans-light', sans-serif;
    letter-spacing: .2vh;
    margin: 0;
    color: $tonic;
  }

  h2 {
    margin: .4vh 0 0;
    font: 1.4vh 'open-sans-light', sans-serif;
    letter-spacing: .1vh;
    opacity: .7;
  }
}

.App--contact--container {
  position: fixed;
  @include flex-row-center;
  @include bottom-right(10px);
}