@font-face {
  font-family: 'exo-light';
  src: url("fonts/exo-light-webfont.eot");
  src: url("fonts/exo-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/exo-light-webfont.woff2") format("woff2"), url("fonts/exo-light-webfont.woff") format("woff"), url("fonts/exo-light-webfont.ttf") format("truetype"), url("fonts/exo-light-webfont.svg#exolight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open-sans-light';
  src: url("fonts/open-sans-light-webfont.eot");
  src: url("fonts/open-sans-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/open-sans-light-webfont.woff") format("woff"), url("fonts/open-sans-light-webfont.ttf") format("truetype"), url("fonts/open-sans-light-webfont.svg#exolight") format("svg");
  font-weight: normal;
  font-style: normal; }

.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  @media screen and (min-width: 1280px) {
    .App {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; } }

.App--content--container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: #012C44;
  z-index: 100;
  pointer-events: none;
  transition: all .6s ease-in-out; }
  .App--content--container.displayed {
    pointer-events: auto;
    opacity: .98; }
    .App--content--container.displayed .App--content--project {
      opacity: 1; }
  @media screen and (min-width: 1280px) {
    .App--content--container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; } }

.App--content--controls--container {
  position: absolute;
  top: 5vw;
  right: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #ceffe7;
  font-size: 22px; }
  .App--content--controls--container svg {
    margin-left: 12px;
    cursor: pointer; }
  @media screen and (min-width: 1280px) {
    .App--content--controls--container {
      top: 20px;
      right: 20px; } }

.App--content--project {
  width: 90vw;
  height: auto;
  font-family: open-sans-light, sans-serif;
  color: #ceffe7;
  user-select: none;
  opacity: 0;
  transition: all .6s ease-in-out;
  background-color: rgba(206, 255, 231, 0.05);
  margin: calc(2 * 5vw + 1em) auto 0;
  overflow: auto;
  flex-shrink: 0;
  max-height: calc(100% - (3 * 5vw) - 1em);
  text-align: center; }
  @media screen and (min-width: 1280px) {
    .App--content--project {
      width: 88vh;
      height: 88vh;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      border-radius: 88vh;
      margin: 0;
      overflow: hidden;
      padding: 0;
      max-height: none; } }
  .App--content--project .App--content--project--title {
    font-size: 28px;
    margin: 5vw auto 24px;
    max-width: 50%;
    text-align: center; }
    @media screen and (min-width: 1280px) {
      .App--content--project .App--content--project--title {
        margin: 0 0 24px; } }
  .App--content--project .App--content--project--type {
    font-size: 14px;
    font-style: italic;
    margin: 0 0 2px;
    text-align: center; }
  .App--content--project .App--content--project--tools {
    font-size: 14px;
    margin: 0 0 24px;
    text-align: center; }
  .App--content--project .App--content--project--description {
    font-size: 14px;
    text-align: center;
    margin: 0 5vw; }
    @media screen and (min-width: 1280px) {
      .App--content--project .App--content--project--description {
        margin: 0 32px;
        max-width: 75%; } }
  .App--content--project .App--content--project--image--container {
    width: 100%;
    height: 43%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 24px 0 0;
    overflow: hidden;
    align-self: flex-end; }
    .App--content--project .App--content--project--image--container img {
      width: 100%; }
  .App--content--project .App--content--project--link {
    display: inline-block;
    color: #ceffe7;
    border: 1px solid #ceffe7;
    padding: 8px 16px;
    font: 14px open-sans-light, sans-serif;
    text-align: center;
    text-decoration: none;
    margin: 24px 0 0;
    transition: all .2s ease-in-out; }
    .App--content--project .App--content--project--link:hover {
      background-color: #ceffe7;
      color: #012C44; }

.App--projects--container {
  width: auto;
  height: auto;
  padding: 5vw 5vw 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow-y: auto; }
  @media screen and (min-width: 425px) {
    .App--projects--container {
      padding: 3vw 3vw 0; } }
  @media screen and (min-width: 1280px) {
    .App--projects--container {
      position: relative;
      width: 88vh;
      height: 88vh;
      padding: 0;
      overflow: visible;
      flex-wrap: nowrap; } }

.App--background--shape {
  display: none; }
  @media screen and (min-width: 1280px) {
    .App--background--shape {
      display: block;
      width: 73%;
      height: 73%;
      margin: 13.5%;
      background-color: rgba(206, 255, 231, 0.4);
      transform: rotate(45deg);
      opacity: .5;
      pointer-events: none; } }

.App--center {
  display: none; }
  @media screen and (min-width: 425px) {
    .App--center {
      display: flex;
      width: 29.33333vw;
      height: 29.33333vw;
      transform: rotate(0deg);
      position: static;
      background-color: #012C44;
      box-sizing: border-box;
      border: 0.7vh solid #ceffe7; } }
  @media screen and (min-width: 1280px) {
    .App--center {
      position: absolute;
      top: 34.02956vh;
      left: 34.02956vh;
      width: 20.02657vh;
      height: 20.02657vh;
      z-index: 10;
      transform: rotate(45deg); } }

.App--title--container {
  transform: rotate(0deg);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase; }
  @media screen and (min-width: 1280px) {
    .App--title--container {
      transform: rotate(-45deg); } }
  .App--title--container h1 {
    font: 2vw 'open-sans-light', sans-serif;
    letter-spacing: .2vh;
    margin: 0;
    color: #ceffe7; }
    @media screen and (min-width: 1280px) {
      .App--title--container h1 {
        font-size: 1.8vh; } }
  .App--title--container h2 {
    margin: .4vh 0 0;
    font: 1.5vw 'open-sans-light', sans-serif;
    letter-spacing: .1vh;
    opacity: .7; }
    @media screen and (min-width: 1280px) {
      .App--title--container h2 {
        font-size: 1.4vh; } }

.App--contact--container {
  position: static;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5vw 0; }
  @media screen and (min-width: 425px) {
    .App--contact--container {
      padding: 3vw 0; } }
  @media screen and (min-width: 1280px) {
    .App--contact--container {
      position: fixed;
      bottom: 10px;
      right: 10px;
      padding: 0; } }
