@import 'vendors/_variables.scss';
@import 'vendors/_mixins.scss';

html {
  @include w-h(100vw, 100vh);
}

body {
  @include w-h;
  margin: 0;
  padding: 0;
  background: radial-gradient(ellipse at center, lighten($blue-dark, 10%) 0%, $blue-dark 100%);
}

#root {
  @include w-h;
  @include flex-column-center;
  overflow: hidden;
}
