@import 'vendors/mixins';
@import 'vendors/variables';

.Link {
  @include w-h(32px);
  @include flex-column-center;
  text-align: center;
  margin: 0 0 0 8px;
  background-color: $tonic;
  border-radius: 32px;
  cursor: pointer;
  color: $blue-dark;
  transition: all .1s ease-in-out;

  &:link, &:visited { color: $blue-dark; }
  &:hover {
    background-color: $blue-dark;
    color: $tonic;
  }
}

.Link--icon {
  &.fa-linkedin-in { font-size: 20px; }
  &.fa-github { font-size: 30px; }
}