@import 'stylesheets/mixins';
@import 'stylesheets/variables';

.Link {
  @include w-h(32px);
  @include flex-column-center;
  margin: 0 0 0 6px;
  background-color: $tonic;
  border-radius: 32px;
  cursor: pointer;
  color: $blue-dark;
  transition: all .1s ease-in-out;

  &:link, &:visited { color: $blue-dark; }
  &:hover {
    background-color: $blue-dark;
    color: $tonic;
  }
}

.Link--icon {
  font-size: 20px;

  &.fa-linkedin-in {
    font-size: 14px;
    margin-bottom: 2px;
  }
  &.fa-envelope { font-size: 14px; }
}