@import 'stylesheets/_variables';
@import 'stylesheets/_mixins';

.Project {
  position: absolute;
  @include w-h($project-side);
  transform: rotate(45deg);
  background-color: $blue-dark;
  overflow: hidden;
  z-index: 5;

  &:nth-child(1) { @include top-left($position-first, $position-second); }
  &:nth-child(2) { @include top-left($position-first-half); }
  &:nth-child(3) { @include top-left($position-first-half, $position-second-half); }
  &:nth-child(4) { @include top-left($position-second, $position-first); }
  &:nth-child(5) { @include top-left($position-second, $position-third); }
  &:nth-child(6) { @include top-left($position-second-half, $position-first-half); }
  &:nth-child(7) { @include top-left($position-second-half); }
  &:nth-child(8) { @include top-left($position-third, $position-second); }
}

.Project--image {
  position: absolute;
  @include top-left(-20%);
  @include w-h(140%);
  display: block;
  transform: rotate(-45deg);
  opacity: .08;
  transition: opacity .2s ease-in-out;
  cursor: pointer;
  z-index: 10;

  &:hover {
    opacity: 1;
  }
}