@import 'vendors/_variables';
@import 'vendors/_mixins';

.Project {
  position: absolute;
  @include w-h($project-side);
  background-color: blue;
  transform: rotate(45deg);

  &:nth-child(1) { @include top-left($position-first); }
  &:nth-child(2) { @include top-left($position-first, $position-second); }
  &:nth-child(3) { @include top-left($position-first, $position-third); }
  &:nth-child(4) { @include top-left($position-first-half); }
  &:nth-child(5) { @include top-left($position-first-half, $position-second-half); }
  &:nth-child(6) { @include top-left($position-second, $position-first); }
  &:nth-child(7) { @include top-left($position-second, $position-third); }
  &:nth-child(8) { @include top-left($position-second-half, $position-first-half); }
  &:nth-child(9) { @include top-left($position-second-half); }
  &:nth-child(10) { @include top-left($position-third, $position-first); }
  &:nth-child(11) { @include top-left($position-third, $position-second); }
  &:nth-child(12) { @include top-left($position-third); }
}